# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# Coverage directory used by tools like istanbul
coverage
*.lcov

/dist
.DS_Store